.App {
  text-align: center;
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  .footer-update{
    background-color: #000;
    height: 350px;
    .footer-update-title{
      padding-top: 40px;
      color: white;
      justify-content: center;
    }
    .footer-update-form{
      padding-top: 50px;
      input{
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }
    }
  }
  .footer-logo-social{
    display: flex;
    justify-content: space-around;
    .connectUs{
      display: flex;
      .social{
        display: flex;
        li{
          list-style: none;
          padding-left: 20px;
        }
      }
    }
  }
  .gallery-sec{
    margin-top: 40px;
  }
  .pro-sec-wrap{
    margin-top: -30px;
  }
  .frame{
    border: 0;
  }
  .btn2{
    border: none;
    margin: 20px 0 0 0;
  }
  
  .about-sec-wrap{
    margin-top: -20px;
  }
  .about-sec-wrapper{
    margin-top: -20px;
  }
  .about-sec-wrapper2{
    background-color: #2f3191;
  }
  .clearfix{
    padding-bottom: 30px;
  }
}

.navbar-collapse,
.attr-nav{
  padding-top: 30px;
}
.donation{
  margin-right: 10px;
}
.maintenance{
  height: 100vh;
}
.footer-section-body{
  text-align: left;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
